body{
    background-image: url("../images/pexels-photo.jpg");
    width: 960px;
}
.title {
    width: 960px;
    font-size: 60px;
    font-style: oblique;
    text-align: center;
    color:  #74B612;
    border-color:azure;
    margin-top: 30px;
    margin-left: 20%; 
}
#question{
width: 100%;
    text-align: center;
    margin-left: 20%;
    font-size: 150px;
    font-style: oblique;
    color: azure;
    padding: 0px;
    box-sizing: border-box;
    margin-top: 0%;
  
}
#button{

margin-left: 70%;
text-align: center;
font-size: 35px;
margin-bottom: 30px;
margin-top: 8%;
color:#74B612;

}

.btn-trivia{
 width: 100%;
 height: 20%;
 display: block; 
 font-size: 80%;
 margin-bottom: 30px;
 margin-top: 30px;
 background-color:#74B612;
 color: azure;
}
#countdown {
    width: 300px;
    margin-bottom: 3%;
    margin-left: 75%;
    color: azure;
    background-color: #74B612;
    border: #0C3506;
    font: 24px;   
}
#game-done{
    width: 600px;
    margin-bottom: 3%;
    margin-left: 28%;
    color: azure;
    background-color: #74B612;
    border: #0C3506;
    font: 24px;   
}
#quizImage{
max-width: 30%;
max-height: 5%;
margin-left: 40%;
margin-top: 5%;
}
#game-start{
    width: 200px;
    margin-bottom: 3%;
    margin-left: 10%;
    color: azure;
    background-color: #74B612;
    border: #0C3506;
    font: 24px;   
    }

    #correctScore{
        width: 300px;
        margin-bottom: 3%;
        margin-left: 25%;
        color: azure;
        background-color: #74B612;
        border: #0C3506;
        font: 24px;       
        }


    #wrongScore {
     width: 300px;
    margin-bottom: 3%;
    margin-left: 58%;
    color: azure;
    background-color: #74B612;
    border: #0C3506;
    font: 24px;   
    }
    